<div class="bar-box grey">
	<h4 class="grey">Archives</h4>
	<div class="inner-box">
	<ul>
	{% for post in site.posts %}
		{% unless post.next %}
			<li><a href="/archive.html#{{ post.date | date: '%Y-%B' }}-ref">{{ post.date | date: '%B %Y' }}</a>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture month %}{{ post.date | date: '%B' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% capture nmonth %}{{ post.next.date | date: '%B' }}{% endcapture %}
			{% if month != nmonth || year != nyear %}
				<li><a href="/archive.html#{{ post.date | date: '%Y-%B' }}-ref">{{ post.date | date: '%B %Y' }}</a>
			{% endif %}
		{% endunless %}	
	{% endfor %}
	</ul>
	</div>
</div>
