<footer class="footer">
    <div class="container">
        <div class="level">
            <div class="level-start has-text-centered-mobile">
                <p class="is-size-7">
                &copy; 2004-<%= date(new Date(), 'YYYY') %> <%= get_config('author') || get_config('title') %>
                </p>
            </div>
            <div class="level-end has-text-centered-mobile">
                <p class="is-size-7">
                Powered by <a href="http://hexo.io/" target="_blank">Hexo</a> & <a
                        href="http://github.com/ppoffice/hexo-theme-icarus">Icarus</a>
                </p>
            </div>
        </div>
    </div>
</footer>