<h1 class="entry-title">
{% if post.title %}
    <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
{% endif %}
</h1>
<h6 class="entry-date">{{ post.date |  date: "%B %d, %Y"}}</h6>
<div class="entry-content">{{ content }}</div>

<script type="text/javascript">
  var disqus_shortname = 'leoznet';

  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>

<a href="{{ root_url }}{{ post.url }}#disqus_thread"></a>

<hr class="entry-break">

