<h1 class="entry-title">
{% if post.title %}
    <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
{% endif %}
</h1>
<h6 class="entry-date">{{ post.date |  date: "%B %d, %Y"}}</h6>

<div class="entry-content">
	{{ content | split:'<!--break-->' | first }}
	{% if content contains '<!--break-->' %}
		<a class="entry-read-more" href="{{ post.url }}">Read more</a>
	{% endif %}
</div>

<a class="entry-comments" href="{{ root_url }}{{ post.url }}/#disqus_thread"></a>

<hr class="entry-break">

