<div class="bar-box green2">
	<h4>Social</h4>
	<div class="inner-box green2">
	<ul class="social-icons">
		<li><a href="http://www.linkedin.com/in/zolotarev" title="LinkedIn" target="_blank"><i class="icon-linkedin"></i></a></li>
		<li><a href="http://www.facebook.com/leonid.zolotarev" title="Facebook" target="_blank"><i class="icon-facebook"></i></a></li>
		<li><a href="https://plus.google.com/107864923020350810136/" title="Google+" target="_blank"><i class="icon-googleplus"></i></a></li>
		<li><a href="http://twitter.com/_leoz_" title="Twitter" target="_blank"><i class="icon-twitter"></i></a></li>
		<li><a href="http://www.flickr.com/photos/_leoz_/" title="Flickr" target="_blank"><i class="icon-flickr"></i></a></li>
		<li><a href="http://leoz-net.livejournal.com" title="LiveJournal" target="_blank"><i class="icon-livejournal"></i></a></li>
		<li><a href="http://github.com/leoz" title="GitHub" target="_blank"><i class="icon-github"></i></a></li>
		<li><a href="http://zoleo.users.sourceforge.net" title="SourceForge" target="_blank"><i class="icon-file"></i></a></li>
		<li><a href="/rss.xml" title="RSS"><i class="icon-rss" target="_blank"></i></a></li>
		<li><a href="mailto:leoz.android@gmail.com" title="e-mail"><i class="icon-envelope"></i></a></li>
	</ul>
	</div>
</div>
